body {
  overflow: hidden;
}

.login {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-radial-gradient(circle, #d65600ce 40%, #c20000b9 100%);
  background: -o-radial-gradient(circle, #d65600ce 40%, #c20000b9 100%);
  background: radial-gradient(circle, #d65600ce 40%, #c20000b9 100%);
}

.login__color {
  position: absolute;
  -webkit-filter: blur(150px);
          filter: blur(150px);
}

.login__color:nth-child(1) {
  top: -350px;
  width: 310px;
  height: 310px;
  background-color: rgba(255, 174, 0, 0.959);
}

.login__color:nth-child(2) {
  left: -300px;
  width: 500px;
  height: 500px;
  background-color: rgba(224, 82, 0, 0.568);
}

.login__color:nth-child(3) {
  bottom: 0px;
  width: 300px;
  height: 300px;
  background-color: red;
}

.login__box {
  position: relative;
}

.login__square {
  position: absolute;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  -webkit-box-shadow: 0 15px 19px rgba(110, 0, 0, 0.308);
          box-shadow: 0 15px 19px rgba(110, 0, 0, 0.308);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(190, 44, 0, 0.507);
  border-radius: 50%;
  -webkit-animation: animate 6s linear infinite;
          animation: animate 6s linear infinite;
  -webkit-animation-delay: calc(-1s * var(--i));
          animation-delay: calc(-1s * var(--i));
}

.login__square:nth-child(1) {
  top: -50px;
  right: -100px;
  width: 150px;
  height: 150px;
}

.login__square:nth-child(2) {
  top: 150px;
  left: -100px;
  width: 120px;
  height: 120px;
  z-index: 2;
}

.login__square:nth-child(3) {
  bottom: 80px;
  right: -50px;
  width: 70px;
  height: 70px;
  z-index: 2;
}

.login__square:nth-child(4) {
  bottom: -60px;
  left: 210px;
  width: 50px;
  height: 50px;
  -webkit-transform: rotate(10px);
      -ms-transform: rotate(10px);
          transform: rotate(10px);
}

.login__square:nth-child(5) {
  top: 20px;
  left: 60px;
  width: 50px;
  height: 50px;
}

.login__container {
  position: relative;
  width: 400px;
  min-height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  -webkit-box-shadow: 0 15px 45px rgba(0, 0, 0, 0.1);
          box-shadow: 0 15px 45px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  border: 1px solid rgba(190, 44, 0, 0.507);
  border-right: 2px solid rgba(153, 0, 0, 0.26);
  border-bottom: 2px solid rgba(141, 0, 0, 0.281);
}

.login__form {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 40px;
}

.login__form h2 {
  text-align: center;
  position: relative;
  text-transform: uppercase;
  color: rgba(82, 0, 0, 0.938);
  font-family: 'Play', sans-serif;
  font-size: 24px;
  letter-spacing: 1px;
  margin-bottom: 40px;
  text-shadow: 0px 3px 10px rgba(0, 0, 0, 0.308);
}

.login__form h2::before {
  content: "";
  position: absolute;
  left: 106px;
  bottom: -10px;
  width: 100px;
  height: 4px;
  border-radius: 50px;
  background: rgba(99, 0, 0, 0.603);
  -webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.308);
          box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.308);
}

.login__input-group {
  width: 100%;
  margin-top: 20px;
}

.login__input-group input {
  width: 100%;
  background-color: rgba(230, 199, 199, 0.685);
  padding: 10px 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  letter-spacing: 1px;
  color: rgba(39, 0, 0, 0.938);
  border-radius: 10px;
  border: 1px solid rgba(190, 44, 0, 0.507);
  outline: none;
  -webkit-box-shadow: 0 8px 25px rgba(201, 59, 59, 0.61);
          box-shadow: 0 8px 25px rgba(201, 59, 59, 0.61);
}

.login__input-group input::-webkit-input-placeholder {
  font-family: 'Play', sans-serif;
  color: rgba(104, 60, 60, 0.534);
}

.login__input-group input:-ms-input-placeholder {
  font-family: 'Play', sans-serif;
  color: rgba(104, 60, 60, 0.534);
}

.login__input-group input::-ms-input-placeholder {
  font-family: 'Play', sans-serif;
  color: rgba(104, 60, 60, 0.534);
}

.login__input-group input::placeholder {
  font-family: 'Play', sans-serif;
  color: rgba(104, 60, 60, 0.534);
}

.login__input-group_submit {
  max-width: 100px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: rgba(248, 219, 219, 0.651);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.login__input-group_submit:hover {
  background-color: rgba(245, 219, 219, 0.918);
  color: #000;
}

.login__input-group_submit input {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  border: 1px solid rgba(110, 41, 41, 0.904);
}

.login__forget {
  margin-top: 10px;
  color: rgba(44, 0, 0, 0.938);
  font-family: 'Play', sans-serif;
}

.login__forget a {
  margin-left: 8px;
  color: rgba(32, 0, 0, 0.938);
  font-weight: 600px;
  text-shadow: 0px 2px 10px rgba(207, 0, 0, 0.637);
  font-weight: 700;
}

.login__forget a:hover {
  color: rgba(3, 0, 0, 0.938);
}

@-webkit-keyframes animate {
  0%,
  100% {
    -webkit-transform: translateY(-40px);
            transform: translateY(-40px);
  }
  50% {
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
  }
}

@keyframes animate {
  0%,
  100% {
    -webkit-transform: translateY(-40px);
            transform: translateY(-40px);
  }
  50% {
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
  }
}
